aliyun-python-sdk-cloudmarketing==2.7.15
aliyun-python-sdk-companyreg==1.0.2
aliyun-python-sdk-core==2.13.16
aliyun-python-sdk-core-emr-hack==2.0.21
aliyun-python-sdk-core-v3==2.13.11
aliyun-python-sdk-facebody==1.0.9
aliyun-python-sdk-goodstech==1.0.1
aliyun-python-sdk-imageaudit==1.0.6
aliyun-python-sdk-imageenhan==1.0.8
aliyun-python-sdk-imageprocess==1.0.0
aliyun-python-sdk-imagerecog==1.0.7
aliyun-python-sdk-imageseg==1.0.7
aliyun-python-sdk-imgsearch==1.0.1
aliyun-python-sdk-objectdet==1.0.7
aliyun-python-sdk-ocr==1.0.7
aliyun-python-sdk-videoenhan==1.0.2
aliyun-python-sdk-videorecog==1.0.0
aliyun-python-sdk-videoseg==1.0.0
cycler==0.10.0
jmespath==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.0
numpy==1.19.1
Pillow==7.2.0
pip==20.2.1
pyparsing==2.4.7
python-dateutil==2.8.1
scipy==1.5.2
setuptools==41.2.0
six==1.15.0
wxPython==4.1.0
xlrd==1.2.0
